@mixin input-type-range ($thumbColor: $white, $thumbWidth: 1.25rem, $thumbHeight: 1.25rem, $trackWidth: 100%, $trackHeight: 1rem, $borderRadius: $border-radius) {
    appearance: none;
    background: $black-10;
    border: 0 solid transparent;
    border-radius: $borderRadius;
    cursor: pointer;
    height: $trackHeight;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: $trackWidth;

    &::-moz-focus-outer {
        border: 0;
    }

    &::-moz-range-track {
        background: none;
        border: 0;
    }

    &::-ms-track {
        background: none;
        border: 0;
        color: transparent;
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
        background: none;
    }

    &::-ms-tooltip {
        display: none;
    }

    &::-ms-thumb {
        @include thumb($thumbColor, $thumbHeight, $thumbWidth);
    }

    &::-moz-range-thumb {
        @include thumb($thumbColor, $thumbHeight, $thumbWidth);
    }

    &::-webkit-slider-thumb {
        appearance: none;

        @include thumb($thumbColor, $thumbHeight, $thumbWidth);

        &:active {
            background: darken($thumbColor, 15%);
        }
    }
}

@mixin thumb ($thumbColor, $thumbHeight, $thumbWidth) {
    background: $thumbColor;
    border: $border-width solid $black-30;
    border-radius: 50%;
    box-shadow: 0 0 1px $black-50;
    cursor: ew-resize;
    height: $thumbHeight !important;
    transition: transform $transition-duration / 2 $transition-timing-function;
    width: $thumbWidth !important;

    &:hover {
        transform: scale(1.1);
    }
}
