@mixin input-type-range ($thumbColor: $white, $thumbWidth: 1.25rem, $thumbHeight: 1.25rem, $trackWidth: 100%, $trackHeight: 1rem, $borderRadius: $border-radius) {
    appearance: none;
    background: $black-10;
    border: 0 solid transparent;
    border-radius: $borderRadius;
    cursor: pointer;
    height: $trackHeight;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: $trackWidth;

    &::-moz-focus-outer {
        border: 0;
    }

    &::-moz-range-track {
        background: none;
        border: 0;
    }

    &::-ms-track {
        background: none;
        border: 0;
        color: transparent;
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
        background: none;
    }

    &::-ms-tooltip {
        display: none;
    }

    &::-webkit-slider-thumb {
        appearance: none;
        background: $thumbColor;
        border: $border-width solid $black-30;
        border-radius: $borderRadius;
        box-shadow: 0 0 1px $black-50;
        cursor: ew-resize;
        height: $thumbHeight;
        transition: transform $transition-duration / 2 $transition-timing-function;
        width: $thumbWidth;

        &:hover {
            transform: scale(1.15);
        }

        &:active {
            background: darken($thumbColor, 15%);
        }
    }

    &::-moz-range-thumb { /* stylelint-disable-line no-descending-specificity */
        background: $thumbColor;
        border: $border-width solid $black-30;
        border-radius: $borderRadius;
        box-shadow: 0 0 1px $black-50;
        cursor: ew-resize;
        height: $thumbHeight;
        width: $thumbWidth;

        &:hover {
            transform: scale(1.1);
        }
    }

    &::-ms-thumb { /* stylelint-disable-line no-descending-specificity */
        background: $thumbColor;
        border: $border-width solid $black-30;
        border-radius: $borderRadius;
        box-shadow: 0 0 1px $black-50;
        height: $thumbHeight !important;
        width: $thumbWidth !important;

        &:hover {
            transform: scale(1.1);
        }
    }
}
