/*
    All variables in here are available in every .vue file
*/
$primary: desaturate(#1c243f, 10%);
$secondary: darken(#3d4f69, 10%);
$tertiary: #5fede1;
$quaternary: #62b3e2;

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$bg-body: $white;
$bg-color: $black;

$white-10: rgba($white, 0.1);
$white-20: rgba($white, 0.2);
$white-25: rgba($white, 0.25);
$white-30: rgba($white, 0.3);
$white-40: rgba($white, 0.4);
$white-50: rgba($white, 0.5);
$white-60: rgba($white, 0.6);
$white-70: rgba($white, 0.7);
$white-75: rgba($white, 0.75);
$white-80: rgba($white, 0.8);
$white-90: rgba($white, 0.9);

$black-10: rgba($black, 0.1);
$black-20: rgba($black, 0.2);
$black-25: rgba($black, 0.25);
$black-30: rgba($black, 0.3);
$black-40: rgba($black, 0.4);
$black-50: rgba($black, 0.5);
$black-60: rgba($black, 0.6);
$black-70: rgba($black, 0.7);
$black-75: rgba($black, 0.75);
$black-80: rgba($black, 0.8);
$black-90: rgba($black, 0.9);

$border-radius: 0.1rem;
$border-width: 1px;

$breakpoint-xs: 0;
$breakpoint-sm: 720px;
$breakpoint-md: 960px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1900px;

$padding-x: 0.5rem;
$padding-y: 0.5rem;

$padding: $padding-y $padding-x;

$font-size: 1rem;

$margin-x: 0.5rem;
$margin-y: 0.5rem;

$margin: $margin-y $margin-x;

$box-shadow: 0 0 1rem $black-30;
$text-shadow: 1px 1px 0 $black-25;

$transition-duration: 450ms;
$transition-timing-function: ease-in-out;

$z-index-dropdown: 1000;
$z-index-sticky: 1020;
$z-index-fixed: 1030;
$z-index-modal-backdrop: 1040;
$z-index-modal: 1040;
$z-index-popover: 1050;
$z-index-tooltip: 1070;

/* stylelint-disable */
:export {
    primary: $primary;
    secondary: $secondary;
    tertiary: $tertiary;
    quaternary: $quaternary;
/* stylelint-enable */
}
